.table, h1{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin:0;
  padding:0;
  font-size: 32px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;

}
.table th { 
  background-color: red;
  text-align:center;
} 
.table td{ 
  border-left: 2px solid #000;
  border-right: 2px solid #000;
} 
h1 span {
  background-color: #ffad33;
}

#translation{
  margin:auto;
  width:auto;
  text-align: center;
}

select { 
  width: 50px;
  display: block;
  margin: 0 auto;
} 
