.table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.table th {
  text-align: center;
}

h1 span {
  background-color: #ffad33;
}
h1{ 
  text-align:center;
} 
#translation{
  margin:auto;
  width:auto;
  text-align: center;
}
