body { 
  text-align: center;
  background-color:lemonchiffon;
  font-size: 24px;
} 
h1, 
.table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding:0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout:fixed;

}
.table { 
  border: 3px solid goldenrod;
} 
.table th { 
  background-color: goldenrod;
  text-align:center;
  color: white;
} 
.table td{ 
  border-right: 3px solid goldenrod;
} 

