.table, .table th, h1{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin:0;
  padding:0;
}

h1 span {
  background-color: #ffad33;
}

#translation{
  margin:auto;
  width:auto;
  text-align: center;
}

select { 
  width: auto;
} 
