.table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.table th {
  text-align: center;
}

#translation{
  margin:auto;
  width:auto;
  background-color: #ffad33;
  text-align: center;
}
